<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Imgmtn!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav>
        <div class="top-menu">
          <ul class="links">
            <li class="logo">
              <%= link 'Imgmtn', to: "/" %>
            </li>
            <li class="separator"></li>
            <li>
              <%= if Coherence.logged_in?(@conn) do %>
                <li class='current_user'><%= @conn.assigns[:current_user].email %></li>
                <li><%= link 'Sign out', to: session_path(@conn, :delete), method: :delete %></li>
              <% else %>
                <li class='register'><%= link 'Register', to: registration_path(@conn, :new) %></li>
                <li><%= link 'Log in', to: session_path(@conn, :new) %></li>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
      <div class='notices'>
        <%
info = get_flash(@conn, :info)
error = get_flash(@conn, :error)
      %>
      <%= if info do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>
      <%= if error do %>
        <p class="alert alert-error" role="alert"><%= error %></p>
      <% end %>
    </div>
  </header>

  <main>
    <%= render @view_module, @view_template, assigns %>
  </main>

  <footer>
    <p>A <a href="http://devmountain.co.uk">DevMtn</a> play project</p>
  </footer>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
