.btn{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px #333 solid;
  background: white;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: zoom 0.3s;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 1px black;
    zoom: 0.95;
    border-size: 3px;
  }

  &.progress{
    background: $info;
    color: white;
  }

  &.cancel{
    background: $danger;
    color: white;
  }
}
