.registration-form,
.login-form {
  margin: 2em auto;
  display: block;

  form{
    margin: auto;
    display: block;
    text-align: center;
  }

  .form-row{
    display: flex;
    margin-bottom: 1.5em;
  }

  .control-label{
    max-width: 50%;
    flex: 1;
    text-align: right;
    vertical-align: middle;
    padding:  0 1.5em 0.5em 0;
  }

  .control-col{
    max-width: 50%;
    flex: 1;
    padding-top: 2em;
    padding-bottom: 1em;
    &:first-child{
      text-align: right;
      padding-right: 2em;
    }
    &:last-child{
      text-align: left;
      padding-left: 2em;
    }
  }
}
