@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
  font-family:  'Montserrat', sans-serif;
}

body {
  color: $text;
  background-image: url(/images/bg.png);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main{
  flex: 1;
}

a {
  color: $secondary;
}

button,
input{
  font-family:  'Montserrat', sans-serif;
}

input{
  border: none;
  height: 1.5em;
  font-size: 1.25em;
  background: rgba(255, 255, 255, 0.25);
  &:focus{
    background: rgba(255, 255, 255, 0.75);
  }
}
